@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');


body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 100%;
}

#content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    padding: 2.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon p {
    margin: 0;
}

.sidebar-icon ion-icon {
    font-size: 1.5em;
}

#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

#logo {
    height: 50%;
}

#search-wrapper {
    display: flex;
    height: 50%;
}

#topbar-icons {
    display:flex;
}

.topbar-icon ion-icon {
    font-size: 2em;
    padding: 0 0.3em;
}

#mic-icon {
    margin: 0 0.5em;
}

#mic-icon ion-icon {
    font-size: 1.7em;
}

#search-btn {
    padding: 0 0.6em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.wrap {
    display: flex;
    padding-top: 0.8em;
}

.wrap img {
    padding-right: 0.8em;
    justify-content: start;
}

.box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    cursor: pointer;
}

.pad {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.pad h4 {
   margin: 0;
   padding: 0; 
}

.pad p {
    margin: 0;
    padding: 0; 
 }

 .space {
    padding: 2.5em 0.5em 0 0;
 }